<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <a href="index.html"><img src="assets/icons/logo-footer.svg" alt="Caju Festival">
      </a>

      <div class="social">
        <a href="#">X</a>
        <a href="#">Spotify</a>
        <a href="#">Instagram</a>
        <a href="#">YouTube</a>
      </div>
    </div>

    <div class="footer-column">
      <h4>Institucional</h4>
      <a href="#">Sobre o evento</a>
      <a href="#">Quem somos</a>
      <a href="#">Propósito</a>
      <a href="#">Edições anteriores</a>
      <a href="#">Imprensa</a>
    </div>

    <div class="footer-column">
      <h4>Eventos</h4>
      <a href="#">Programação</a>
      <a href="#">Line-up</a>
      <a href="#">Palcos</a>
      <a href="#">Horários</a>
    </div>

    <div class="footer-column">
      <h4>Ingressos</h4>
      <a href="#">Tipos de ingresso</a>
      <a href="#">Meia-entrada</a>
      <a href="#">Inteira / Social</a>
      <a href="#">Política de reembolso</a>
      <a href="#">Transferência de ingresso</a>
    </div>

    <div class="footer-column">
      <h4>Ajuda / Suporte</h4>
      <a href="#">Central de ajuda</a>
      <a href="#">Perguntas frequentes (FAQ)</a>
      <a href="#">Fale conosco</a>
      <a href="#">Termos e condições</a>
      <a href="#">Política de privacidade</a>
    </div>

    <div class="footer-column">
      <h4>Legal</h4>
      <a href="#">Termos de uso</a>
      <a href="#">Política de privacidade</a>
      <a href="#">Política de cookies</a>
      <a href="#">Classificação indicativa</a>
      <a href="#">Direitos autorais</a>
    </div>

    <div class="footer-column">
      <h4>Contato</h4>
      <p>contato@cajufestival.com.br</p>
      <p>imprensa@cajufestival.com.br</p>
      <p>parcerias@cajufestival.com.br</p>
      <a href="#">Trabalhe conosco</a>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Cajufestival. Arena das Dunas — Natal/RN. Todos os direitos reservados.
  </div>
</footer>