<header class="header">
  <div class="header-container">

    <!-- LOGO -->
    <div class="logo">
      <img src="assets/icons/logo-header.svg" alt="Logo do Header">
    </div>

    <!-- MENU -->
    <nav class="nav">
      <a href="#">Line-up</a>
      <a href="#">Informações</a>
      <a href="#">Ingressos</a>
      <a href="#">Quem somos?</a>
    </nav>

    <!-- ÍCONES -->
    <div class="header-actions">

      <!-- Redes sociais -->
      <div class="social-icons">
        <div class="icon-slot"></div> <!-- X -->
        <div class="icon-slot"></div> <!-- Spotify -->
        <div class="icon-slot"></div> <!-- Instagram -->
        <div class="icon-slot"></div> <!-- YouTube -->
      </div>

      <div class="divider"></div>

      <!-- Ações -->
      <div class="user-icons">
        <div class="icon-slot"></div> <!-- Carrinho -->
        <div class="icon-slot"></div> <!-- Usuário -->
      </div>

    </div>

  </div>
</header>