* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: white;
  min-height: 100vh;

  background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../assets/login/pexels-jonathan-borba-3563173-scaled 1.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212121;
}

.topo {
  height: 90px;
  padding: 16px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -50px;
}

.logo-header {
  height: 60px;
}

.navegacao {
  display: flex;
  gap: 36px;
}

.navegacao a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.icones {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icones img {
  width: 26px;
  height: 26px;
}

.divider {
  width: 2px;
  height: 24px;
  background: #BA2626;
  margin: 0 12px;
}





.container-principal {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-login {
  width: 520px;
  max-width: 92vw;
  background: #26292C;
  border-radius: 20px;
  padding: 24px 26px 18px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 240px;
  height: 240px;
  display: block;
  margin-bottom: -50px;
  margin-top: -50px;
}

.linha {
  height: 1px;
  background: white;
  margin: 0 0 20px 0;
}

.titulo {
  text-align: center;
  font-size: 22px;
  color: #F1AB4E;
  margin-bottom: 18px;
}

.form-login {
  margin-top: 0;
}

.campo {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 14px;

  margin: 28px 0;
  border: 1px solid white;
  border-radius: 8px;
  background: #5F656D
}

.campo-icone {
  width: 12px;
  height: 12px;
}

.campo input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
}

.campo input::placeholder {
  color: rgba(255,255,255,0.75);
}

.trio {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 18px;
}

.mini {
  height: 36px;
  flex: 1;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0 12px;
  border: 1px solid white;
  border-radius: 8px;
  background: #5F656D

}

.mini-icone {
  width: 12px;
  height: 12px;
}

.mini input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 12px;
}

.mini input::placeholder {
  color: rgba(255,255,255,0.75);
}

.btn-continuar {
  width: 240px;
  height: 64px;
  border: none;
  border-radius: 8px;
  background: #F1AB4E;
  color: #fff;
  cursor: pointer;

  display: block;
  margin: 22px auto 0;
}

.cadastro {
  margin-top: 10px;
  text-align: center;
  font-size: 11px;
  color: rgba(255,255,255,0.7);
}

.cadastro a {
  color: white;
  text-decoration: underline;
}

.termos{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  color: white;
}
.tracejado{
    text-decoration: underline;
}

@media (max-width: 760px) {
  .navegacao {
    display: none;
  }

  .topo {
    padding: 12px 20px;
    height: 80px;
  }

  .logo-header {
    height: 52px;
  }

  .card-login {
    width: 92vw;
  }

  .logo {
    width: 160px;
    height: 160px;
  }

  .btn-continuar {
    width: 100%;
  }
}
