* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0e0e0e;
  color: #ffffff;
}

/* HEADER */
.header {
  background: #000;
  padding: 20px 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1680px;
  height: 72px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f2a93b;
}

.logo img {
  width: 40px;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.header-icons .icon {
  background: #b11212;
  border: none;
  color: #fff;
  margin-left: 10px;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #000;
  padding: 60px 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-brand img {
  width: 254px;
  height: 180px;
}

.footer-brand h2 {
  color: #f2a93b;
  margin: 10px 0;
}

.social a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  width: 32px;
  height: 32px;
}
.footer-column{
    flex-wrap: nowrap;
}
.footer-column h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-column a,
.footer-column p {
  display: block;
  margin-bottom: 8px;
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #888;
}
