@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===== CONTAINER GERAL ===== */
body {
    background-color: #1c1c1c;
}

.lineup-container {
    padding: 80px 100px;
}

.header {
    height: 90px;
}


.lineup-container {
    background: #1c1c1c;
    color: #fff;
    padding: 48px;
    overflow: hidden;
}

/* ===== SLIDER ===== */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 640px;
    flex-shrink: 0;
    .slide {
  outline: 2px solid red;
}

}

/* ===== TEXTO / INFO ===== */
.lineup-info {
    max-width: 720px;
}

.titulo {
    font-weight: 800;
    line-height: 1.2;
    font-size: 64px;
}

.titulo span {
    background: #c62828;
    padding: 6px 16px;
    display: inline-block;
    margin-top: 12px;
}

/* ===== CARD DATA ===== */
.card-data {
    background: #f2b24b;
    color: #000;
    padding: 20px 9px;
    margin: 32px 0;
    display: flex;
    width: 520px;
    height: 180px;
    gap: 20px;
    align-items: center;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-data:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 32px rgba(0, 0, 0, 0.55);
}

.card-data .mes {
    color: #000;
    text-align: center;

    /* Text/16/Bold */
    font-family: var(--family-body, Inter);
    font-size: var(--size-16, 16px);
    font-style: normal;
    font-weight: var(--weight-bold, 700);
    line-height: 140%;
    /* 22.4px */
}

.card-data .dia {
    color: #000;
    text-align: center;
    font-feature-settings: 'salt' on;

    /* Display/96 */
    font-family: "Roboto Condensed";
    font-size: 80px;
    font-style: normal;
    font-weight: var(--weight-bold, 700);
    line-height: 120%;
    /* 115.2px */
    display: block;
}

.card-data .hora {
    color: #000;
    text-align: center;

    /* Text/14/SemiBold */
    font-family: var(--family-body, Inter);
    font-size: var(--size-14, 14px);
    font-style: normal;
    font-weight: var(--weight-semibold, 600);
    line-height: 140%;
    /* 19.6px */
}

.divider-card {
    width: 1px;
    height: 122.037px;
    background-color: #000;
}

.card-data h2 {
    color: #000;
    font-feature-settings: 'salt' on;
    font-family: Roboto Condensed;
    font-size: var(--size-64, 56px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
}

.card-data h2 strong {
    color: #000;
    font-feature-settings: 'salt' on;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: var(--weight-bold, 700);
    line-height: 100%;
    letter-spacing: -0.88px;
    letter-spacing: px;
}

.data {
    display: flex;
    padding: 30px 9px;
    width: 227px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== BOTÃO ===== */
.btn-mapa {
    display: flex;
    width: 260px;
    height: 68px;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primaria-medium, #BA2626);
    text-decoration: none;
    color: var(--neutra-50, #F9FAFB);
    text-align: center;
    text-decoration: none;
    /* Text/18/Bold */
    font-size: var(--size-18, 18px);
    font-weight: var(--weight-bold, 700);
    /* 25.2px */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-mapa:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 32px rgba(0, 0, 0, 0.55);
}

/* ===== ARTISTA ===== */
.card-artista {
    position: relative;
    width: 460px;
    height: 100%;
    margin-right: 24px;
}

.artista-img {
    position: absolute;
    inset: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.artista-img.back {
    transform: translateX(28px);
    z-index: 1;
    opacity: 0.95;
}

/* imagem principal */
.artista-img.front {
    z-index: 2;
}

/* badge */
.badge-headliner {
    position: absolute;
    bottom: 80px;
    right: 40px;
    background: #c62828;
    padding: 12px 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    z-index: 5;
}

.badge-headliner span {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.9;
}

.badge-headliner strong {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

/* ===== PAGINAÇÃO ===== */
.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 32px;
}

.paginacao {
    display: inline-flex;
    align-items: center;
    gap: 17px;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.4;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.dot:hover {
    transform: scale(1.55);
    box-shadow: 0 20px 32px rgba(0, 0, 0, 0.55);

}

.dot.active {
    opacity: 1;
}